* {
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.snowflake {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  color: rgb(255, 255, 255);
  /* 动画持续时间 */
  animation-duration: 4s;
  /* 关键帧名字 */
  animation-name: rotateSecondHand;
  /* 动画时间函数 */
  animation-timing-function: linear;
  /* 让动画永远执行下去 */
  animation-iteration-count: infinite;
}

.extend-snowflake {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  color: rgb(255, 255, 255);
}

@keyframes rotateSecondHand {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
