* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  flex: 0.5;
  cursor: pointer;
  color: rgba(63, 197, 177, 0.9);
  position: relative;
  border-radius: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  margin: 10px;
  transition: all 0.8s ease-in ;
}

.panel h3 {
  opacity: 0;
  font-size: 1.5em;
  position: absolute;
  bottom: 10px;
  left: 20px;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel.active {
  flex: 5;
}

.panel.active h3{
  opacity: 1;
}

.refresh-button {
  border-width: 1px;
  border-radius: 4px;
  background-color: rgb(225, 255, 255);
  cursor: pointer;
}

.audio {
  display: block;
}

#audio-name {
  text-align: center;
}

#audio-src {
  outline: none;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100vw;
  }
  
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}